* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: auto;
    display: flex;
    gap: 50px;
    align-items: center;
    flex-direction: column;
}
.proxJogada{
    width: 300px;
    height: 100px;
    display: flex;
    padding-top: 5px;
}
.proxJogada .previous{
    opacity: 0.3;
    transform: scale(0.7);
    transition: 0.3s;
}
.container {
    background-color: black;
    width: 500px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 2%;
}

.item {
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
}

.circle {
    width: 120px;
    height: 120px;
    border: solid 20px red;
    border-radius: 50%;
    margin: auto;
}

.x {
    position: relative;
    width: 120px;
    height: 120px;
    margin: auto;
}

.x::before,
.x::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: blue;
    top: 50%;
    left: 50%;
    transform-origin: center;
}

.x::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.x::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.btn-reset {
    font-size: 30px;
}

@keyframes rotateReset {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.animed-reset {
    animation: rotateReset .5s ease-in-out;
}

.hyde {
    display: none;
}

.modal {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.441);
    height: 100vh;
    width: 100%;
}

.modal #mod {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    gap: 1rem;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.modal #placar{
    position: fixed;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    height: 3.5rem;
    width: 8rem;
    padding: 0;
    border-radius: 20px;
    background-color: white;
}
.modal #placar .xPoint{
    background-color: rgb(0, 0, 255, 0.8);
    border-radius: 20px 0px 0px 20px;
}
.modal #placar .circlePoint{
    background-color: rgb(255, 0, 0, 0.8);
    border-radius: 0 20px 20px 0;
}
.modal #placar .xPoint, .circlePoint{
    text-align: center;
    width: 50%;
    font-size: 3rem;
    color: white;
    font-weight: bold;
}
.modal #resetPlacar{
    position: fixed;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    text-decoration: underline;
    font-size: 1rem;
    padding: .5rem;
    cursor: pointer;
}
.modal #mod #jogarNov {
    height: 3rem;
    margin-inline: auto;
    margin-top: .5rem;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    background-color: dodgerblue;
}

@media only screen and (max-width: 500px) {
    .container {
        align-items: center;
        width: 400px;
        gap: 5px;
    }
}

@media only screen and (max-width: 375px) {
    .container {
        width: 300px;
        height: 400px;
        gap: 5px;
    }

    .x,
    .circle {
        width: 80px;
        height: 80px;
    }
}